* {
    transition: all 1s;
    box-sizing: border-box;
}

body {
    background: url(http://subtlepatterns.com/patterns/grid.png);
    font: 1em 'PT Sans', Helvetica, Tahoma, Arial, sans-serif;
    color: #333;
}

.wrapper {
    width: 500px;
    max-width: 800px;
    min-width: 420px;
    margin: 100px auto;
    text-align: center;
}

table {
    margin: 0 auto;
}