body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-container{
  margin-top: 25%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.form-horizontal {
  width: 35%;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
}
